[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/Interactive-Echoes/imgui.git
	branch = master
[submodule "ThirdParty/stb"]
	path = ThirdParty/stb
	url = https://github.com/nothings/stb.git
	branch = master
